.launch-card{
    height: 200px;
    width: 700px;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px black;
   margin-left: 300px;
   margin-top: 50px;
}
.launch-card img{
   height: 200px;
   width: 200px;
}
.content{
    width: 80%;
    margin-left: 20px;
    color: cadetblue;
}
.content .info{
    display: flex;
    justify-content: space-between;
}
.content p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: grey;
}