.launch-card{
    height: 150px;
    width: 100%;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 5px;
    cursor: pointer;
}
.launch-card img{
   height: 150px;
   width: 150px;
}
.content{
    width: 80%;
    margin-left: 20px;
    color: cadetblue;
}
.content .info{
    display: flex;
    justify-content: space-between;
}
.content p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: grey;
    line-height: 20px;
}